@font-face {
    font-family: CircularStd-Book;
    src: url(../fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: CircularStd-Bold;
    src: url(../fonts/CircularStd-Bold.otf);
}

@font-face {
    font-family: CircularStd-Black;
    src: url(../fonts/CircularStd-Black.otf);
}

html {
    scroll-behavior: smooth;
    font-family: CircularStd-Book;
	color: white;
    position:relative;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0,0,0,0)), linear-gradient(-45deg, rgb(244, 187, 122), rgb(223, 82, 158), rgb(160, 107, 156), rgb(141, 169, 214), #00b868);
	background-size: 400% 100%;
    -moz-animation: gradient 15s ease infinite;
    -webkit-animation: gradient 15s ease infinite;
    -o-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#banner {
    display: block;
    height: 100px;
    margin: auto;
}

#navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 225px;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

#navigation:hover {
    background: rgba(0, 0, 0, 0.5);
	background-size: 400% 100%;
    -moz-animation: gradient 15s ease infinite;
    -webkit-animation: gradient 15s ease infinite;
    -o-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
}

#main-content {
    margin-left: 225px;
    flex: 1;
    height: auto;
    overflow-y: hidden;
}

.nav-link {
    padding: 10px 40px;
    margin-top: 5px;
    font-family: CircularStd-Black;
    cursor: pointer;
}

.nav-link:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.219), transparent);
    border-left: 5px solid white;
    padding-left: 35px;
}

.nav-active {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.219), transparent);
    border-left: 5px solid white;
    padding-left: 35px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.tab {
    height: 100vh;
    box-sizing: border-box;
    overflow-y: scroll;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.tab::-webkit-scrollbar {
    width: 0;
    height: 0;
}

h1 {
    font-family: CircularStd-Black;
    font-size: 30pt;
    padding-bottom: 20px;
}

#end-date {
    padding: 10px 20px;
    font-size: 10pt;
}

.important-1 {
    font-family: CircularStd-Black;
    color:rgb(171, 238, 186);
}

.important-2 {
    font-family: CircularStd-Black;
    color:rgb(229, 155, 190);
}

#top-five {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.covers {
    height: 130px;
}


.top-song-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.top-song-info:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#remaining {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 100%;
    border-spacing: 0px;
}

#remaining tbody tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#remaining tbody tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#remaining th {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), transparent);
    border-bottom: 2px solid white;
    text-align: left;
    padding: 10px;
    font-family: CircularStd-Black;
}

#remaining td {
    padding-left: 23px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#remaining tbody tr:hover {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
}

.table-covers {
    height: 50px;
    border-radius: 5px;
    box-shadow: 4px 4px 0px rgb(246, 202, 214), -4px -4px 0px rgb(171, 238, 186);
}

.track {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#add-playlist {
    margin: auto;
    margin-top: 80px;
    padding: 20px 50px;
    text-decoration: none;
    background: rgb(154, 219, 168);
    color: rgb(57, 43, 64);
    text-align: center;
    width: 250px;
    border-radius: 30px;
    font-size: 10pt;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    letter-spacing: 1px;
    font-family: CircularStd-Bold;
    cursor: pointer;
    
}

#add-playlist:hover {
    scale: 1.05;
    background: rgb(171, 238, 186);
}

.main-panel-image {
    width: 200px;
}

.carousel {
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 50px;
}

.main-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    padding-bottom: 5px;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
}

.main-panel:first-child {
    margin-left: calc(50% - (150px));
}

.main-panel:last-child {
    margin-right: 500px;
}

.mid {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.mid:hover {
    transform: scale(1.15);
}

.nav-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 50pt;
    margin: 0px 75px;
    height: 0px;
}

.panel-nav-button {
    cursor: pointer;
    height: 50px;
    width: 50px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.panel-nav-button:hover {
    scale: 1.1;

}

#artist-left-button {
    display: none;
}

.hidden {
    opacity: 0.3;
    pointer-events: none;
}

.info-panel {
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    background: rgba(0, 0, 0, 0.5);
}

.artist-info {
    flex: 0 0 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
}

.artist-info:first-child {
    margin-left: 0%;
}

.info-top-song {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    text-align: center;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.info-top-song:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.info-cover {
    height: 100px;
    box-shadow: 4px 4px 0px rgb(246, 202, 214), -4px -4px 0px white;
}

.album-info {
    flex: 0 0 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
}

.album-info:first-child {
    margin-left: 0%;
}

#album-left-button {
    display: none;
}