.covers {
    height: 200px;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.4);
}

#main-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#cover-holder {
    animation-name: "cover-slide";
    animation-duration: 1s;
    margin: auto;
    margin-right: 0px;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
} 

@keyframes cover-slide {
    from {
        transform: translateX(500px);
    }
    
    to {
        transform: translateX(0);
      }
}

body {
    animation-name: "fade-in";
    animation-duration: 3s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#info {
    margin-top: 0px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}