#main-content {
    display: grid;
    grid-template-rows: 1fr 1fr;;
}

#information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loading-shell {
    display: none;
    width: 900px;
    height: 3px;
    background: rgba(57, 43, 64, 0.3);
    border-radius: 5px;
}

.bar-animation {
    animation-name: bar-in;
    animation-duration: 1s;
}

.bubble-animation {
    animation-name: bubble-out;
    animation-duration: 1s;
}

@keyframes bar-in {
    from {
        transform: translateY(200px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 0.75;
    }
}

@keyframes bubble-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#loading-bar {
    top: 0;
    left: 0;
    width: 0px;
    height: 3px;
    background: white;
    border-radius: 5px;
}