#main-content {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

h1 {
    border-bottom: 2px solid white;
    padding-bottom: 50px;
}

#step-1, #step-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#step-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.steps {
    margin: 50px;
    height: 300px;
}

.info-container {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.step-titles {
    margin: 80px;
    margin-bottom: 0px;
}

.info {
    margin: 80px;
    margin-top: 10px;
}

.link-button {
    margin-top: 0px;
    background: rgb(35, 47, 110);
    display: inline-block;
    cursor: pointer;
}

.link-button:hover {
    background: rgb(47, 64, 148);
}

#file-error {
    z-index: 11;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -400px;
    background: rgba(27, 21, 31, 0.9) radial-gradient(circle at top left, rgba(194, 109, 122, 0.4), transparent 50%);
    width: 800px;
    height: 400px;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 30px;
}

#close {
    cursor: pointer;
}

.error-animation {
    animation-name: error-in;
    animation-duration: 1s;
}

@keyframes error-in {
    from {
        transform: translateY(800px);
      }
    
      to {
        transform: translateY(0);
      }
}

#error-backdrop {
    z-index: 10;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
}

.backdrop-animation {
    animation-name: backdrop-in;
    animation-duration: 1s;
}

@keyframes backdrop-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#error-title {
    padding: 10px;
    padding-left: 20px;
}

#sample-data-link {
    width: 100%;
    font-size: 9pt;
    margin-top: 50px;
    border-bottom: 1px dotted white;
    transition: all 0.2s;
}

#sample-data-link:hover {
    transform: scale(1.01);
    opacity: 0.5;
}