{% extends 'pages/pre_base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles/home_view.css' %}">
{% endblock %}
{% block title %}Analyse your listening{% endblock %}

{% block main %}

    <div id="info">
        <h1>Why wait a year to see how you listened.</h1>
        <p>We all love Spotify's Wrapped. But let's be honest, no one deserves to wait 365 days to understand their listening. Get started with Wrappedify below!</p>
        <a href="/get-started/" class="link-button">ANALYSE YOUR LISTENING</a>
    </div>

    <div id="cover-holder">
        {% for url in covers %}

        <a href="{{ url.1 }}" target="_blank" rel="noopener noreferrer"><img src="{{ url.0 }}" class="covers"></a>

        {% endfor %}
    </div>
{% endblock %}