<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <link rel="icon" href="{% static 'images/favicon.png' %}"/>
        <link rel="stylesheet" href="{% static 'styles/pre_base.css' %}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
        {% block head %}{% endblock %}
        <meta charset="UTF-8">
        <title>Wrappedify - {% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block header %}
        <header>
            <a {% block bannerlink %}href="javascript:void(0);" onclick="window.scroll({top: 0, left: 0, behavior: 'smooth'});"{% endblock %}><img id="banner" src="{% static 'images/banner.png' %}" alt="Wrappedify Banner"></a>
        </header>
        {% endblock %}
        <div id="main-content">
            {% block main %}
            {% endblock %}
        </div>
        <footer>
            <div id="footer-box">
                <div id="footer-content">
                    <p class="footer-link"><a href="http://github.com/mhsohail56/wrappedify" target="_blank" rel="noopener noreferrer" style="text-decoration:none; color: white;">GitHub</a></p>
                    <p class="footer-link"><a href="/about/" style="text-decoration:none; color: white;">About</a></p>
                </div>
                <p id="copyright">© Muhammad Sohail 2022</p>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/pre_base.js' %}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>