{% extends 'pages/pre_base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/processing_view.css' %}"/>
{% endblock %}
{% block title %}Processing your data{% endblock %}
{% block bannerlink %}href="/" {% endblock %}

{% block main %}
<div id="information">
    <h1 id="processing-title">Hang tight while we analyse your listening.</h1>
    <p>The more diverse your listening, the longer this may take. That's something to be proud of.</p>
</div>

<div id="loading">
    <p style="opacity:0.75; display:none" id="loading-message"></p>
    <svg  id="loading-bubbles" style="margin: auto; position:absolute; top:66%; left:50%; margin-top:-50px; margin-left:-50px;" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <g transform="translate(20 50)">
        <circle cx="0" cy="0" r="6" fill="#ffffff">
        <animateTransform attributeName="transform" type="scale" begin="-0.5067567567567568s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1.3513513513513513s" repeatCount="indefinite"></animateTransform>
        </circle>
        </g><g transform="translate(40 50)">
        <circle cx="0" cy="0" r="6" fill="#ffffff">
        <animateTransform attributeName="transform" type="scale" begin="-0.33783783783783783s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1.3513513513513513s" repeatCount="indefinite"></animateTransform>
        </circle>
        </g><g transform="translate(60 50)">
        <circle cx="0" cy="0" r="6" fill="#ffffff">
        <animateTransform attributeName="transform" type="scale" begin="-0.16891891891891891s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1.3513513513513513s" repeatCount="indefinite"></animateTransform>
        </circle>
        </g><g transform="translate(80 50)">
        <circle cx="0" cy="0" r="6" fill="#ffffff">
        <animateTransform attributeName="transform" type="scale" begin="0s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1.3513513513513513s" repeatCount="indefinite"></animateTransform>
        </circle>
        </g>
    </svg>

    <div id="loading-shell">
        <div id="loading-bar"></div>
    </div>
</div>

{% endblock %}


{% block javascript %}
<script>
    let messages = [["Kick back and relax while we do our magic.", "Feel free to work on something else!", "Let's get this party started!"],
    ["Our gears are up and running!", "Are we there yet?", "Nearly halfway there!"],
    ["We're loving your listening!", "We're nearly set up!", "One step closer to data paradise!"],
    ["Almost there!", "Just a little longer!", "We swear we're almost done."]];
    let crate = -1;

    let bubbles = document.getElementById("loading-bubbles");
    let loadingShell = document.getElementById("loading-shell");
    let loadingBar = document.getElementById("loading-bar");
    let started = false;
    let width = 0;
    let loadingMessage = document.getElementById("loading-message");

    function updateProgressBar(max) {
        let update = setInterval(function() {
            if (width / 900 > max) {
                clearInterval(update);
            } else {
                width++;
                loadingBar.style.width = `${width}px`
                if (crate != Math.floor((width / 900) / 0.25)) {
                    crate = Math.floor((width / 900) / 0.25);
                    loadingMessage.innerText = messages[crate][Math.floor(Math.random() * 3)];
                }
            }
        }, 15);
    }

    $(function() {
        let  id = setInterval(function() {
            $.get('/ajax/progress', function(data, status) {
                if (data.success) {
                    clearInterval(id);
                    updateProgressBar(1);
                    setTimeout(() => {window.location.href = "/your-data/";}, 1000)
                    return;
                } else if (data.state == "PROGRESS") {
                    if (!started) {
                        bubbles.classList.add("bubble-animation");
                        loadingShell.style.display = "Block";
                        loadingMessage.style.display = "Block";
                        loadingShell.classList.add("bar-animation");
                        loadingMessage.classList.add("bar-animation");
                        bubbles.addEventListener("animationend", function(event) {bubbles.style.display = "none";});
                        started = true;
                    }
                    updateProgressBar(data.details.percentage);
                    return;
                }
            });
        }, 500);
    });
</script>
{% endblock %}