{% extends 'pages/pre_base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles/start_view.css' %}">
{% endblock %}
{% block title %}Get started{% endblock %}
{% block bannerlink %}href="/"{% endblock %}

{% block main %}
<h1>Let's get started.</h1>

<div id="step-1">
    <div class="info-container">
        <h2 class="step-titles">Step 1.</h2>
        <p class="info">To understand your listening, you must download your Spotify data. This guide walks you through step-by-step. First, login on the  <a style="color:white" href="https://www.spotify.com/" target="_blank" rel="noopener noreferrer">Spotify Website<a/> and navigate to your <em>Account</em> page by clicking the <em>Profile</em> menu in the top right.</p>
    </div>
    <img class="steps" src="{% static 'images/start-1.png' %}">
</div>

<div id="step-2">
    <div class="info-container">
        <h2 class="step-titles">Step 2.</h2>
        <p class="info">Navigate to <em>Privacy settings</em> using the menu that appears on the left.</p>
    </div>
    <img class="steps" src="{% static 'images/start-2.png' %}">
</div>

<div id="step-3">
    <div class="info-container">
        <h2 class="step-titles">Step 3.</h2>
        <p class="info">Scroll down towards the bottom of the page and request your data. Now, simply wait a few days to recieve an e-mail from Spotify containing a link to download your personal data.</p>
    </div>
    <img class="steps" src="{% static 'images/start-3.png' %}">
</div>

<div id="'final">
    <h2 class="step-titles">Step 4.</h2>
    <p class="info">Once you download the ZIP file, unzip it and select all files following the naming format 'StreamingHistory#.json'. NOTE: It is important that you select <em>all</em> and <em>only</em> those files that follow the specified naming convention. </p>
</div>

<form id="file-form" method="POST" enctype="multipart/form-data" style="text-align: center"> {% csrf_token %}
    <input type="file" name="listening-files" id="listening-input" multiple="True" accept="application/json" onchange="validateInput(this)" hidden>
    <label for="listening-input" class="link-button">SELECT FILES</label>
</form> 

<div id="error-backdrop"></div>
<div id="file-error">
    <div style="display:flex; flex-direction:row; justify-content:space-between">
        <div style="flex-grow:1; display:flex; flex-direction:row; justify-content:flex-start">
            <img style="height: 50px;" src="{% static 'images/error.png' %}" alt="error icon">
            <h2 id="error-title">Invalid files selected.</h2>
        </div>
        <span id="close">&#10005</span>
    </div>
    <p id="error-msg"></p>
</div>

{% endblock %}

{% block javascript %}
<script>
    const csrftoken = getCookie('csrftoken');
    $.post('/ajax/timezone/', {timezone: Intl.DateTimeFormat().resolvedOptions().timeZone, csrfmiddlewaretoken: csrftoken});
</script>
{% endblock %}